#   _____             __ _                       _   _                
#  / ____|           / _(_)                     | | (_)                
# | |     ___  _ __ | |_ _  __ _ _   _ _ __ __ _| |_ _  ___  _ __  ___ 
# | |    / _ \| '_ \|  _| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \/ __|
# | |___| (_) | | | | | | | (_| | |_| | | | (_| | |_| | (_) | | | \__ \
#  \_____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|___/
#                           __/ |                                      
#                          |___/    
#
# Klipper Configurations - Voron 2.4r2
# Version 1.0

#####################################################################
# Firmware Settings
#####################################################################

# BIGTREETECH MANTA M8P v2.0
# When running "make menuconfig"
#
# [*] Enable extra low-level configuration options
#     Micro-controller Architecture (STMicroelectronics STM32)  --->
#     Processor model (STM32H723)  --->
#     Bootloader offset (128KiB bootloader (SKR SE BX v2.0)) --->
#     Clock Reference (25 MHz crystal) --->
#     Communication interface (USB (on PA11/PA12)) --->
#     USB ids --->
# ()  GPIO pins to set at micro-controller startup

# LDO Nitehawk-36
# When running "make menuconfig"
#
#[*] Enable extra low-level configuration options
#    Micro-controller Architecture (Raspberry Pi RP2040/RP235x)  --->
#    Processor model (rp2040)  --->
#    Bootloader offset (16KiB bootloader)  --->
#    Communication Interface (USBSERIAL)  --->
#    USB ids  --->
#[*] Optimize stepper code for 'step on both edges' (NEW)
#(!gpio8) GPIO pins to set at micro-controller startup


# How to update without SDCard:
# ls /dev/serial/by-id/*
# make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_stm32h723xx_1B000E001451333031373837-if00
# or if in DFU Mode:
# lsusb
# make flash FLASH_DEVICE=2e8a:0003

# 


#####################################################################
# MCU Settings
#####################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_1B000E001451333031373837-if00
restart_method: command

[mcu sb2209]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320E31EB-if00


#####################################################################
# Printer Settings
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5.0


#####################################################################
# Included Files
#####################################################################

[include ./knomi.cfg]
[include ./macros.cfg]
[include ./neopixels.cfg]
#[include ./timelapse.cfg]


#####################################################################
# Stepper Motor Settings                
# X, Y and Z Nema17, 1.8 degree, 24 V   
# Extruder Motor Nema14, 1.8 degree 24V
# Motor is MOONS-MS17HD6P420I-04
#####################################################################

## X Stepper on MOTOR2 (A Motor)
[stepper_x]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: sb2209:gpio13
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

# X Stepper Driver
[tmc2209 stepper_x]
uart_pin: PE3
run_current: 1.0
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0


## Y Stepper on MOTOR1 (B Motor)
[stepper_y]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200  #set to 400 for 0.9 degree stepper
endstop_pin: PF4
position_min: 0
position_endstop: 307
position_max: 307
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

# Y Stepper Driver
[tmc2209 stepper_y]
uart_pin: PC13
run_current: 1.0
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR4
[stepper_z]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 290   
position_min: -5
homing_speed: 25
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PB5
run_current: 0.8
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z1 Stepper - Rear Left on MOTOR5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PG14
run_current: 0.8
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z2 Stepper - Rear Right on MOTOR6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PG10
run_current: 0.8
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z3 Stepper - Front Right on MOTOR7
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PD5
run_current: 0.8
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# Extruder Settings
# Stealthburner
# Galileo2 Extruder
# Motor is LDO-36STH20-1004AHG-9T          
#####################################################################

# Extruder on SB2209
[extruder]
step_pin: sb2209:gpio18
dir_pin: sb2209:gpio19
enable_pin: !sb2209:gpio17
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  47.088 is a good starting point
rotation_distance: 47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: sb2209:gpio7
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: sb2209:gpio26
pullup_resistor: 2200
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 150
pressure_advance: 0.040
pressure_advance_smooth_time: 0.020
max_extrude_cross_section: 5     # Adjusted for adaptive purge 
max_extrude_only_distance: 100   # Increase max extrusion length
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982


# Extruder Stepper Driver
[tmc2209 extruder]
uart_pin: sb2209:gpio20
run_current: 0.6
interpolate: False
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# Bed Heater Settings - 120V, 600W Bed Heater 
#####################################################################

[heater_bed]
heater_pin: PA0
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.330
#pid_ki: 2.558
#pid_kd: 332.482


#####################################################################
#  Heater Verification
#####################################################################

[verify_heater heater_bed]
max_error: 120
check_gain_time: 60
hysteresis: 5
heating_gain: 2

[verify_heater extruder]
max_error: 120
check_gain_time: 20
hysteresis: 5
heating_gain: 2


#####################################################################
# Firmware Retraction Settings
#####################################################################

[firmware_retraction]
retract_length: 0.5
retract_speed: 40
unretract_speed: 40


#####################################################################
# Homing and Gantry Adjustment Routines 
#####################################################################

[quad_gantry_level]

gantry_corners:
	-60,-10
	360,370

points:
	50,25
	50,225
	250,225
	250,25

speed: 100
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
# Fan Settings
#####################################################################

##  Print Cooling Fan - SB2209 FAN2
[fan]
pin: sb2209:gpio14
kick_start_time: 0.5
#off_below: 0.10

##  Hotend Fan - SB2209 FAN1
[heater_fan hotend_fan]
pin: sb2209:gpio4
max_power: 1.0
kick_start_time: 0.5
heater: extruder

##  Controller fan - Manta FAN4
[controller_fan stepper_fan]
pin: PA4
max_power: 0.5
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z

##  Controller fan - Manta FAN5
[controller_fan electronics_fans_1]
pin: PA6
max_power: 0.6
hardware_pwm: true
tachometer_pin: PC2
stepper: stepper_x, stepper_y, stepper_z

##  Controller fan - Manta FAN6
[controller_fan electronics_fans_2]
pin: PA2
max_power: 0.6
hardware_pwm: true
tachometer_pin: PC1
stepper: stepper_x, stepper_y, stepper_z

##  Nevermore - Manta FAN0
[output_pin Nevermore_Filter]
pin: PF7
value: 0

[delayed_gcode Filter_On]
gcode:
    SET_PIN PIN=Nevermore_Filter VALUE=0

[gcode_macro TOGGLE_NEVERMORE]
gcode:
    {% if printer['output_pin Nevermore_Filter'].value > 0 %}
      SET_PIN PIN=Nevermore_Filter VALUE=0
    {% else %}
      SET_PIN PIN=Nevermore_Filter VALUE=1
    {% endif %}


########################################
# Beacon Settings
########################################

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_E82F79825154354D38202020FF0A1533-if00
backlash_comp: 0.004
x_offset: 0
y_offset: 21.0
mesh_main_direction: x
mesh_runs: 2
default_probe_method: proximity
home_xy_position: 150,150
home_xy_move_speed: 100
home_z_hop_speed: 25
home_z_hop: 10
home_method: contact
home_method_when_homed: proximity
home_autocalibrate: never
# Sets the autocalibration behavior. `always` will autocal on every home, `unhomed` on initial homing,
# `never` will never so that models stored in config may be used with proximity homing.
contact_max_hotend_temperature: 180


#####################################################################
# Delta Calibration & Mesh Settings  
#####################################################################

[bed_mesh]
speed: 300
mesh_min: 40,40
mesh_max: 260,260
probe_count: 100,100
algorithm: bicubic


#####################################################################
# Temperature Sensors
#####################################################################

[temperature_sensor Manta]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor RP2040]
sensor_type: temperature_mcu
sensor_mcu: sb2209
min_temp: 0
max_temp: 100

[temperature_sensor Raspberry_CM4]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

#[temperature_sensor SB2209]
#sensor_type: Generic 3950
#sensor_pin: sb2209:gpio27
#min_temp: 0
#max_temp: 100

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PB0
min_temp: 0
max_temp: 100


#####################################################################
# Filament Sesnor
#####################################################################

[filament_switch_sensor switch_sensor] 
switch_pin: PF0
pause_on_runout: False
runout_gcode: 
  PAUSE
  SET_DISPLAY_TEXT MSG="Filament Switch Runout Detected"
insert_gcode:
  LOAD_PROMPT
  SET_DISPLAY_TEXT MSG="Filament Switch Enabled"
  
[filament_motion_sensor encoder_sensor]
switch_pin: ^PC15
detection_length: 14.0
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE
  SET_DISPLAY_TEXT MSG="Filament Encoder Issue Detected"
insert_gcode: 
  SET_DISPLAY_TEXT MSG="Filament Encoder Enabled"

[gcode_macro SFS_ENABLE]
description: Enable Smart Filament Sensor
gcode:
 SET_DISPLAY_TEXT MSG="ENABLING the Smart Filament Sensor"
 G92 E0
 SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1

[gcode_macro SFS_DISABLE]
description: Disable Smart Filament Sensor
gcode:
 SET_DISPLAY_TEXT MSG="DISABLING the Smart Filament Sensor"
 G92 E0
 SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
 

#####################################################################
# Resonance Settings 
#####################################################################

#[lis2dw sb2209]
#cs_pin: sb2209:gpio1
#spi_bus: spi0a
#axes_map: z,x,y

[resonance_tester]
probe_points: 150, 150, 25
accel_chip: sb2209
accel_chip: beacon

[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 49.0
#shaper_type_y = ei
#shaper_freq_y = 46.4


#####################################################################
# G-Code Macros & Events
#####################################################################

[respond]

[pause_resume]

[display_status]

[exclude_object]

#[gcode_arcs]
#resolution: 0.1

[virtual_sdcard]
path: ~/printer_data/gcodes

[idle_timeout]
timeout: 7200

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.438
#*# pid_ki = 4.267
#*# pid_kd = 50.778
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.156
#*# pid_ki = 2.738
#*# pid_kd = 248.391
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 50.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 36.6
#*#
#*# [beacon model default]
#*# model_coef = 1.623721301179086,
#*# 	  1.9317251998628377,
#*# 	  0.690026308532808,
#*# 	  0.30616144719329635,
#*# 	  0.3818410147666765,
#*# 	  0.2655704793780468,
#*# 	  -0.33154191443207015,
#*# 	  -0.25858975196036255,
#*# 	  0.2355397033694376,
#*# 	  0.15736301956900567
#*# model_domain = 1.9107314824620512e-07,1.9483394861972666e-07
#*# model_range = 0.200000,5.000000
#*# model_temp = 60.986402
#*# model_offset = 0.12000
